{% extends "webapp/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'webapp/css/accounts.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">FlightX</a>
        </div>
        <span class="d-block d-lg-inline-block">
            <div class="HeaderNavlink px-0 py-2 m-0">
                <a class="text-bold text-white no-underline" href="{% url 'webapp:login' %}" >Sign in</a>
                <span class="text-gray">or</span>
                <a class="text-bold text-white no-underline" href="{% url 'webapp:signup' %}">Sign up</a>
            </div>
        </span>
    </div>
</nav>
<div class="bg">
    <img src="{% static 'webapp/images/airbus.jpg' %}" alt="">
</div>
{% endblock %}
