{% extends "webapp/base.html" %}

{% block title %}
    Flight
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'webapp:index' %}">FlightX</a>
            <a class="navbar-brand" href="{% url 'webapp:index' %}">Home</a>
        </div>
        <ul>
            <li><a href="{% url 'webapp:login' %}">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="head">
        <h1>Flights</h1>
        <ul>
            {% for flight in flights %}
            <li>
                <a href="{% url 'webapp:flight' flight.id %}">{{ flight }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
