{% extends "webapp/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'webapp/css/login.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'webapp:accounts' %}">FlightX</a>
        </div>
    </div>
</nav>
<div class="container">
    <form class="form" action="{% url 'webapp:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h1>Sign in to Flightx</h1>
            <label>Usename:</label>
            {{ form.username }}
            <label>Password:</label>
            {{ form.password }}
            <br>
            <button class="btb btn-primary btn-block">Login</button>
        </div>
        <p class="mt-2 text-muted text-center">&copy; 2017-2018</p>
    </form>
</div>
{% endblock %}
