{% extends "webapp/base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'webapp/css/login.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">FlightX</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="bg">
        <img src="{% static 'webapp/airbus.jpg' %}" alt="">
    </div>
    <h1>Login</h1>
    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}
    <form action="{% url 'webapp:index' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="usr">Username:</label>
            <input type="text" class="form-control" id="usr">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <input type="submit" value="Login"/>
    </form>
</div>
{% endblock %}