{% extends "webapp/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'webapp/css/login.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">FlightX</a>
        </div>
        <form action="{% url 'webapp:index' %}" method="POST">
            {% csrf_token %}
            <input type="hidden">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label for="email">Usename</label>
                        </td>
                        <td>
                            <label for="pass">Password</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" id="usr">
                        </td>
                        <td>
                            <input type="password" class="form-control" id="pwd">
                        </td>
                        <td>
                            <input type="submit" value="Login"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</nav>

<div class="bg">
    <img src="{% static 'webapp/images/airbus.jpg' %}" alt="">
</div>
<div class="container">

</div>
{% endblock %}
