body {
    margin: 0%;
    position: relative;
}
.navbar-default {
    background-color: rgb(11, 133, 163);
}
.navbar-default .navbar-brand {
    color: aliceblue;
}
.container .form button{
    border-radius: 4px;
    background-color: rgb(11, 133, 163);
}
.container .form button:hover {
    background-color: #1e5f7e;
}